body {
    background-color: #FFD4C7;
    font-family: 'georgia', monospace;
    margin: 0px;
}

#hp { 
    position: absolute; 
    top: 20px;
    right: 10px;
  }
 
  .rotate {
    animation: rotation 30s;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .linear {
    animation-timing-function: linear;
  }
 
  .infinite {
    animation-iteration-count: infinite;
  } 

  .hiddenText {
    display: none;
 }


 .hoverDiv:hover + .hiddenText {
    display: block;
}

h1{
    text-align: center;
    color: #187822;
    font-size: 75px;
    font-style: regular;
    margin-bottom: 0px;
}

h2{
    color: #1C4087;
    font-size: 30px;
    font-style: regular;
}

h3{
    color: #E78686;
    font-size: 30px;
    font-style: regular;
}

#img1 {
    position: absolute;
    left: 450px;
    top: 220px;
}

#img2 {
    position: absolute;
    left: 450px;
    top: 395px;
}

#img3 {
    position: absolute;
    left: 450px;
    top: 445px;
}

#img4 {
    position: absolute;
    left: 450px;
    top: 533px;
}

#img5 {
    position: absolute;
    left: 450px;
    top: 585px;
}

#img6 {
    position: absolute;
    left: 450px;
    top: 665px;
}

#item1 {
    position: absolute;
    right: 100px;
    top: 280px;
}

        #item6 {
        position: absolute;
        left: 250px;
        top: 280px;
}

#item2 {
position: absolute;
right: 150px;
top: 380px;
}

        #item7 {
       position: absolute;
       left: 340px;
       top: 380px;
}

#item3 {
position: absolute;
right: 150px;
top: 450px;
}

        #item8{
        position: absolute;
        left: 150px;
        top: 450px;
}

#item4{
position: absolute;
right: 150px;
top: 550px;
}

        #item9{
        position: absolute;
        left: 150px;
        top: 550px;
}

#item5{
position: absolute;
right: 150px;
top: 650px;
}

        #item10{
        position: absolute;
        left: 150px;
        top: 650px;
}