body {
   background-color: #DAEBEF;
   font-family: 'georgia', monospace;
   margin: 0px;
}

#hp { 
   position: absolute; 
   top: 20px;
   right: 10px;
 }

 .rotate {
   animation: rotation 30s;
 }
 @keyframes rotation {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(359deg);
   }
 }
 .linear {
   animation-timing-function: linear;
 }

 .infinite {
   animation-iteration-count: infinite;
 }

h1{
   text-align: center;
   color: #1C4087;
   font-size: 75px;
   font-style: regular;
   margin-bottom: 0px;
}

h2 { 
   text-align: :left;
   color: #186565;
   font-size: 60px;
   font-style: regular;}

   .hiddenText {
      display: none;
   }
   .hoverDiv:hover + .hiddenText {
      display: block;
      color: #1C4087;
      font-size: 25px;
      font-weight: regular;
      padding-left: 550px;
      line-height: 1.5;
   }
   
#sub1 {
   text-align: :left;
   color: #E43F3E;
   font-size: 55px;
   font-style: bold;
   position: absolute;
   left: 350px;
   top:200px;
}   

#list1 { 
   text-align: :;
   color: #186565;
   font-size: 30px;
   font-style: bold;
   list-style-type: none;
   position: absolute;
   left: 300px;
   top:200px;
}   

#sub5 {
   text-align: :left;
   color: #E43F3E;
   font-size: 55px;
   font-style: bold;
   position: absolute;
   left: 350px;
   top:300px;}   

#list5 { 
   text-align: :;
   color: #186565;
   font-size: 30px;
   font-style: bold;
   list-style-type: none;
   position: absolute;
   left: 300px;
   top:200px;
}        
   #sub2 {
       text-align: :left;
       color: #E43F3E;
       font-size: 55px;
       font-style: bold;
       position: absolute;
       left: 350px;
       top:400px;
      }   
   
    #list2 { 
       text-align: :;
       color: #186565;
       font-size: 30px;
       font-style: bold;
       list-style-type: none;
       position: absolute;
       left: 300px;
       top:200px;
      }   

       #sub3 {
           text-align: :left;
           color: #E43F3E;
           font-size: 55px;
           font-style: bold;
           position: absolute;
           left: 350px;
           top:500px;
         }   
       
        #list3 { 
           text-align: :;
           color: #186565;
           font-size: 30px;
           font-style: bold;
           list-style-type: none;
           position: absolute;
           left: 300px;
           top:200px;
         }       

           #sub4 {
               text-align: :left;
               color: #E43F3E;
               font-size: 55px;
               font-style: bold;
               position: absolute;
               left: 350px;
               top:600px;
            }   
           
            #list4 { 
               text-align: :;
               color: #186565;
               font-size: 30px;
               font-style: bold;
               list-style-type: none;
               position: absolute;
               left: 300px;
               top:200px;
            }              