body {
    background-color: #FCE0F1;
    font-family: 'arial', monospace;
    margin: 0px;
}

  #hp { 
      position: absolute; 
      top: 20px;
      right: 10px;
    }

  #egg {
      position: absolute; 
      top: 200px;
      left: 300px;
    }
   
    .rotate {
      animation: rotation 30s;
    }
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    .linear {
      animation-timing-function: linear;
    }
   
    .infinite {
      animation-iteration-count: infinite;
    }

h1 {
  text-align: center;
  color: #187822;
  font-size: 150px;
  font-style: regular;
}
.myDIV {
  position: absolute; 
  top: 180px;
  left: 30px;
}

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}

#list1 { 
  text-align: center;
  font-size: 150px;
  font-style: regular;
  color: #a5e687;
  list-style-type: none;
  position: absolute;
  top: -70px;
  left: 30px;

}  